body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    /* needs to be updated to purchased video file from Adobe stock */
    background-image: url(https://as1.ftcdn.net/jpg/03/94/69/36/240_F_394693644_DnAEbgtieBiEikXl08t4dZjNzCb2vfzy.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.messageContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(44, 44, 44, 0.8), rgba(237, 235, 235, 0.8));
    display: block;
    text-align: center;
    z-index: 9999;
}
#intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border: 10px solid grey;
    justify-content: center;
    width: 50%;
    height: 20%;
    position: relative;
    border-radius: 25px;
    border-style: double;
    margin: 0 auto;
    margin-top: 20%;
}
#levels {
    flex-direction: column;
    align-items: center;
    background-color: white;
    border: 10px solid grey;
    justify-content: center;
    width: 50%;
    height: 20%;
    position: relative;
    margin: 0 auto;
    border-radius: 25px;
    border-style: double;
    margin-top: 20%;
}
input:focus {
    background-color: transparent;
    border-color: #999;
    opacity: 30%;
    outline: none;
}
input:not(:placeholder-shown) {
    font-size: 10px;
    color:black;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    padding: 10px;
    background-color: transparent;
}
#name {
    position: absolute;
    bottom: 50%;
    right: 40%;
    font-size: 60px;
    width: 20%;
    height: 5%;
    margin-bottom: 20px;
    background-color: transparent;
    color: rgb(175, 111, 7);
    border: none;
    border-radius: 25px;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    padding-left: 5%;
}
#startBtn {
    position: absolute;
    bottom: 40%;
    right: 40%;
    background-color: transparent;
    border-radius: 15px;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    width: 20%;
}
.next-btn, #readyBtn {
    position: absolute;
    font-size: 20px;
    bottom: 0;
    right: 0;
    background-image: linear-gradient(to right, #7a5b3c, #d2bea9);
    color: #fafbfd;
    border: none;
    border-radius: 15px;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    border-style: double;
    margin: 1.5%;
}
#professorText, #levels>p {
    font-size: 24px;
    color:#7a5b3c;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    padding: 3%;
}
.level-btn {
    display: inline-block;
    margin: 10px;
    height: 70px;
    width: 20%;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 15px;
    border-radius: 25px;
}
.level-btn.selected {
    background-color: darkgrey;
    color: lightgrey;
}
#gameLogo img {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1000;
}
#gameLogo img {
    width: 30vmin;
    height: auto;
}
.gameContainer {
    text-align: center;
}
.cards {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 5px;
    width: 80vmin;
    height: 80vmin;
}
.cardMatchGrid {
    border: 1px solid white;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #000;
}
.cards > div.revealed {
    background-color: transparent;
}
.soundtrack {
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
}
.userInfo, .stats {
    width: 22%;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    overflow-y: auto;
}
.userInfo {
    width: 18%;
    overflow-y: auto;
    height: 100%;
    float: right;
    padding: 10px;
    position: absolute;
    margin-right: 0%;
    top: 0;
    right: 0;
}
#countdownTimer {
    position: absolute;
    top: 10px;
    left: 10px;
}
.stats {
    height: 45%;
    padding: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
}
.stats > div {
    margin-top: 80px;
    margin-bottom: 20px;
}
#title {
    font-family: "MedievalSharp", cursive;
    font-weight: 400;
    font-size: 60px;
    font-style: normal;
}
#timeElapsed {
    padding: 10px;
}
#moves {
    padding: 10px;
}
#accuracy {
    padding: 10px;
}
#averageMatchTime {
    padding: 10px;
}
#memoryRecall {
    padding: 10px;
}