body {
    display: flex;
    height: 100vh;
    margin: 0;
    padding: 0;
    color: white;

    /* needs to be updated to purchased video file from Adobe stock */
    background-image: url(https://as1.ftcdn.net/jpg/03/94/69/36/240_F_394693644_DnAEbgtieBiEikXl08t4dZjNzCb2vfzy.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
/* .messageScreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: linear-gradient(to bottom, rgba(128, 128, 128, 0.8), rgba(192, 192, 192, 0.8)); */
    /* display: block;
    text-align: center;
    z-index: 9999;
}
.messageScreen > p {
    margin-bottom: 60px;
} */
/* .button {
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 40px;
    width: 80px;
    border-radius: 15px;
    background-color: grey;
    color: white;
    border: 1px solid white;
    font-size: 20px;
    font-family: orbitron, sans-serif;
    font-weight: 800;
    cursor: pointer;
    margin-top: 10px;
} */
/* .soundtrack {
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
} */
.basicInfo, .stats {
    width: 22%;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    overflow-y: auto;
}
.basicInfo {
    width: 18%;
    overflow-y: auto;
    height: 100%;
    float: right;
    padding: 10px;
    position: absolute;
    margin-right: 0%;
    top: 0;
    right: 0;
}
.stats {
    height: 45%;
    padding: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
}
.cards {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 5px;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 83%;
    margin: 0 auto;
    margin-top: 40px;
}
.cards > div {
    border: 1px solid white;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    background-color: #000;
}
.cards > div.revealed {
    background-color: transparent;
}
.stats > div {
    margin-top: 80px;
    margin-bottom: 20px;
}
#title {
    font-family: "MedievalSharp", cursive;
    font-weight: 400;
    font-size: 60px;
    font-style: normal;
}

#timeElapsed {
    padding: 10px;
}

#moves {
    padding: 10px;
}

#accuracy {
    padding: 10px;
}

#averageMatchTime {
    padding: 10px;
}

#memoryRecall {
    padding: 10px;
}